<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MEDIUNERG Los Morros</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body data-bs-spy="scroll" data-bs-target=".navbar">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-white sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="images/logomm.svg" width="50" height="50" alt="" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#hero">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">Sobre nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Servicios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#portfolio">Espacios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reviews">Rese帽as</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#team">Equipo</a>
            </li>
          </ul>
          <a href="#comments" class="btn btn-brand ms-lg-3">Comenta</a>
        </div>
      </div>
    </nav>

    <!-- HERO -->
    <section id="hero" class="min-vh-100 d-flex align-items-center text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1
              data-aos="fade-left"
              class="text-uppercase text-white fw-semibold display-1"
            >
              Bienvenido a MEDIUNERG
            </h1>
            <h5 class="text-white mt-3 mb-4" data-aos="fade-right">
              SOMOS UN EQUIPO DE PROFESIONALES QUE OFRECEMOS SERVICIOS DE
              DESINFECCIN Y ESTERILIZACIN CON TECNOLOGA DE PUNTA EN SAN JUAN
              DE LOS MORROS
            </h5>
            <div data-aos="fade-up" data-aos-delay="50">
              <a href="#about" class="btn btn-brand me-2">Empezemos</a>
              <a href="#comments" class="btn btn-light ms-2">Comenta</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT -->
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="50"
          >
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Sobre nosotros</h1>
              <div class="line"></div>
              <p>
                Nos apasiona brindar experiencias seguras y saludables para
                nuestros clientes, eliminando los agentes pat贸genos que puedan
                afectar su bienestar.
              </p>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6" data-aos="fade-down" data-aos-delay="50">
            <img src="images/about.jpg" alt="" />
          </div>
          <div data-aos="fade-down" data-aos-delay="150" class="col-lg-5">
            <h1>Acerca de MEDIUNERG LOS MORROS</h1>
            <p class="mt-3 mb-4">
              Somos una empresa privada de desinfecci贸n y esterilizaci贸n que
              inici贸 sus operaciones en abril del 2023 en Gu谩rico, Venezuela.
              Desde entonces, nos hemos enfocado en garantizar espacios m茅dicos
              y universitarios libres de virus y microorganismos pat贸genos,
              convirti茅ndonos en la unidad elite nacional y de referencia
              regional en nuestro pa铆s.
            </p>
            <div class="d-flex pt-4 mb-3">
              <div class="iconbox me-4">
                <i class="ri-mail-send-fill"></i>
              </div>
              <div>
                <h5>Somos Innovadores</h5>
                <p>
                  Utilizamos t茅cnicas y productos de 煤ltima generaci贸n que nos
                  permiten eliminar o reducir la presencia de microorganismos
                  pat贸genos en un ambiente determinado.
                </p>
              </div>
            </div>
            <div class="d-flex mb-3">
              <div class="iconbox me-4">
                <i class="ri-user-5-fill"></i>
              </div>
              <div>
                <h5>Somos Responsables</h5>
                <p>
                  Cumplimos con los requisitos legales y normativos relacionados
                  con la higiene y seguridad en el trabajo, y utilizamos
                  productos de desinfecci贸n seguros y respetuosos con el medio
                  ambiente.
                </p>
              </div>
            </div>
            <div class="d-flex">
              <div class="iconbox me-4">
                <i class="ri-rocket-2-fill"></i>
              </div>
              <div>
                <h5>Somos Eficaces</h5>
                <p>
                  Proporcionamos servicios de limpieza y desinfecci贸n de alta
                  calidad a nuestros clientes, logrando resultados efectivos y
                  satisfactorios.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SERVICES -->
    <section id="services" class="section-padding border-top">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Servicios Incre铆bles</h1>
              <div class="line"></div>
              <p>
                Ofrecemos una variedad de servicios de desinfecci贸n y
                esterilizaci贸n para diferentes tipos de espacios cerrados, como
                hospitales, cl铆nicas, universidades, laboratorios, gimnasios,
                entre otros.
              </p>
            </div>
          </div>
        </div>
        <div class="row g-4 text-center">
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-hospital-fill"></i>
              </div>
              <h5 class="mt-4 mb-3">Desinfecci贸n de Hospitales y Cl铆nicas</h5>
              <p>
                Eliminamos los microorganismos que puedan causar infecciones
                nosocomiales o asociadas a la atenci贸n sanitaria, utilizando
                productos biodegradables y equipos de alta tecnolog铆a.
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="250"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-book-open-fill"></i>
              </div>
              <h5 class="mt-4 mb-3">
                Desinfecci贸n de Universidades y Escuelas
              </h5>
              <p>
                Garantizamos la seguridad y la salud de los estudiantes,
                profesores y personal administrativo, desinfectando las aulas,
                laboratorios, bibliotecas y otras 谩reas comunes.
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="350"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-test-tube-fill"></i>
              </div>
              <h5 class="mt-4 mb-3">
                Desinfecci贸n de Laboratorios e Industrias
              </h5>
              <p>
                Protegemos la calidad e integridad de los productos y procesos
                industriales, desinfectando los equipos, superficies y ambientes
                de trabajo con t茅cnicas avanzadas.
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="450"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-body-scan-line"></i>
              </div>
              <h5 class="mt-4 mb-3">
                Desinfecci贸n de Gimnasios y Centros Deportivos
              </h5>
              <p>
                Prevenimos la transmisi贸n de enfermedades por contacto directo o
                indirecto, desinfectando las m谩quinas, los vestuarios, las
                duchas y las 谩reas recreativas.
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="550"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-delete-bin-fill"></i>
              </div>
              <h5 class="mt-4 mb-3">
                Gesti贸n de Residuos M茅dicos y Peligrosos
              </h5>
              <p>
                Realizamos la recolecci贸n, transporte, tratamiento y disposici贸n
                final de los residuos m茅dicos y peligrosos, cumpliendo con las
                normas ambientales y sanitarias vigentes.
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="650"
          >
            <div class="service theme-shadow p-lg-5 p-4">
              <div class="iconbox">
                <i class="ri-recycle-fill"></i>
              </div>
              <h5 class="mt-4 mb-3">
                Reciclaje de Residuos S贸lidos y L铆quidos
              </h5>
              <p>
                Promovemos la cultura del reciclaje y la econom铆a circular,
                realizando la separaci贸n, clasificaci贸n y aprovechamiento de los
                residuos s贸lidos y l铆quidos generados por nuestros clientes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- COUNTER -->
    <section id="counter" class="section-padding">
      <div class="container text-center">
        <div class="row g-4">
          <div
            class="col-lg-3 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <h1 class="text-white display-4">500+</h1>
            <h6 class="text-uppercase mb-0 text-white mt-3">
              Espacios Desinfectados
            </h6>
          </div>
          <div
            class="col-lg-3 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="250"
          >
            <h1 class="text-white display-4">300+</h1>
            <h6 class="text-uppercase mb-0 text-white mt-3">
              Clientes Satisfechos
            </h6>
          </div>
          <div
            class="col-lg-3 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="350"
          >
            <h1 class="text-white display-4">99%</h1>
            <h6 class="text-uppercase mb-0 text-white mt-3">
              Eficacia Comprobada
            </h6>
          </div>
          <div
            class="col-lg-3 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="450"
          >
            <h1 class="text-white display-4">50+</h1>
            <h6 class="text-uppercase mb-0 text-white mt-3">
              Miembros del Equipo
            </h6>
          </div>
        </div>
      </div>
    </section>

    <!-- PORTFOLIO -->
    <section id="portfolio" class="section-padding">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Lugares Desinfectados</h1>
              <div class="line"></div>
              <p>
                Estamos orgullosos de mostrar algunos de los espacios cerrados
                que hemos desinfectado y esterilizado con nuestra tecnolog铆a de
                punta.
              </p>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
            <div class="portfolio-item image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/hospital.jpg" alt="" />
              </div>
              <a
                href="images/hospital.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
            <div class="portfolio-item image-zoom mt-4">
              <div class="image-zoom-wrapper">
                <img src="images/oficina.jpg" alt="" />
              </div>
              <a
                href="images/oficina.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
            <div class="portfolio-item image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/gimnasio.jpg" alt="" />
              </div>
              <a
                href="images/gimnasio.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
            <div class="portfolio-item image-zoom mt-4">
              <div class="image-zoom-wrapper">
                <img src="images/peluqueria.jpg" alt="" />
              </div>
              <a
                href="images/peluqueria.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
            <div class="portfolio-item image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/escuela.jpg" alt="" />
              </div>
              <a
                href="images/escuela.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
            <div class="portfolio-item image-zoom mt-4">
              <div class="image-zoom-wrapper">
                <img src="images/laboratorio.jpg" alt="" />
              </div>
              <a
                href="images/laboratorio.jpg"
                data-fancybox="gallery"
                class="iconbox"
                ><i class="ri-search-2-line"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- REVIEW -->
    <section id="reviews" class="section-padding bg-light">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Rese帽as</h1>
              <div class="line"></div>
              <p>
                Estamos encantados de recibir el reconocimiento y la confianza
                de nuestros clientes, que han comprobado la calidad y eficacia
                de nuestros servicios de desinfecci贸n y esterilizaci贸n.
              </p>
            </div>
          </div>
        </div>
        <div class="row gy-5 gx-4" id="review-container">
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  Excelente servicio, muy profesional y puntual. Desinfectaron
                  todo el hospital con mucho cuidado y detalle. Quedamos muy
                  satisfechos con el resultado.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-1.jpg" alt="" />
                <div class="ms-3">
                  <h5>Juan P茅rez</h5>
                  <small>Director de un Hospital</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="250"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  Fue un trabajo excepcional, se nota la diferencia en el
                  ambiente despu茅s de la desinfecci贸n. Los equipos que usan son
                  de 煤ltima generaci贸n y muy seguros. Recomiendo sus servicios.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-2.jpg" alt="" />
                <div class="ms-3">
                  <h5>Abrahana Silva</h5>
                  <small>Profesora de una escuela b谩sica</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="350"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  Un servicio muy eficiente y responsable. Cumplieron con todas
                  las medidas de seguridad y prevenci贸n. Desinfectaron mi
                  laboratorio sin afectar los procesos ni los productos.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-3.jpg" alt="" />
                <div class="ms-3">
                  <h5>Mar铆a Torres</h5>
                  <small>Gerente de Laboratorio Qu铆mico</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="450"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  Muy bueno el servicio, fueron muy amables y atentos.
                  Desinfectaron mi gimnasio con rapidez y eficacia. Los clientes
                  se sienten m谩s seguros y c贸modos.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-4.jpg" alt="" />
                <div class="ms-3">
                  <h5>Andrea L贸pez</h5>
                  <small>Due帽a de Gimnasio Fit</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="550"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  Cumplieron con el horario y el presupuesto acordados.
                  Desinfectaron mi escuela con sus productos y sin dejar
                  residuos. Los recomiendo.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-6.jpg" alt="" />
                <div class="ms-3">
                  <h5>Jos茅 Mart铆nez</h5>
                  <small>Director de una Escuela Bolivariana</small>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-lg-4 col-sm-6"
            data-aos="fade-down"
            data-aos-delay="650"
          >
            <div class="review">
              <div class="review-head p-4 bg-white theme-shadow">
                <div class="text-warning">
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                  <i class="ri-star-fill"></i>
                </div>
                <p>
                  隆Me encanta!, fueron muy profesionales y detallistas.
                  Desinfectaron mi centro de belleza con cuidado y sin da帽ar los
                  productos ni los equipos. Los felicito.
                </p>
              </div>
              <div class="review-person mt-4 d-flex align-items-center">
                <img class="rounded-circle" src="images/avatar-7.jpg" alt="" />
                <div class="ms-3">
                  <h5>Laura S谩nchez</h5>
                  <small>Estilista de Beauty Center</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- TEAM -->
    <section id="team" class="section-padding">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="section-title">
              <h1 class="display-4 fw-semibold">Miembros del Equipo</h1>
              <div class="line"></div>
              <p>
                Nos encanta brindar experiencias seguras y saludables para
                nuestros clientes, contando con un equipo de profesionales
                capacitados y comprometidos con nuestra misi贸n.
              </p>
            </div>
          </div>
        </div>
        <div class="row g-4 text-center">
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/yaneth.jpg" class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Yaneth Doria</h4>
                <p class="mb-0 text-white">Vicepresidente</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/virginia.jpg"  class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Virginia Marqu茅z</h4>
                <p class="mb-0 text-white">Presidente</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="150">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/ilich.jpg" class="img-fluid h-100"  alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Kengerlys D铆az</h4>
                <p class="mb-0 text-white">Administrador</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/ivan.jpg" class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Iv谩n Salazar</h4>
                <p class="mb-0 text-white">Gerente de Recursos Humanos</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="350">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/jessy.jpg" class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Jessy Castillo</h4>
                <p class="mb-0 text-white">Gerente de operaciones</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/carlos.jpg" class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Carlos Rojas</h4>
                <p class="mb-0 text-white">Gerente de Compras</p>
              </div>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-down" data-aos-delay="250">
            <div class="team-member image-zoom">
              <div class="image-zoom-wrapper">
                <img src="images/jose.jpg" class="img-fluid h-100" alt="" />
              </div>
              <div class="team-member-content">
                <h4 class="text-white">Jos茅 P茅rez</h4>
                <p class="mb-0 text-white">Gerente de Ventas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <section class="section-padding bg-light" id="comments">
      <div class="container">
        <div class="row">
          <div
            class="col-12 text-center"
            data-aos="fade-down"
            data-aos-delay="150"
          >
            <div class="section-title">
              <h1 class="display-4 text-white fw-semibold">Deja tu comentario</h1>
              <div class="line bg-white"></div>
              <p class="text-white">
                Nos encanta recibir sus opiniones y sugerencias sobre nuestros servicios
              </p>
            </div>
          </div>
        </div>
        <div
          class="row justify-content-center"
          data-aos="fade-down"
          data-aos-delay="250"
        >
          <div class="col-lg-8">
            <div class="row g-3 p-lg-5 p-4 bg-white theme-shadow">
                <div
          id="cusdis_thread"
          data-host="https://cusdis.com"
          data-app-id="995029af-55b9-40fb-ab5c-1f4577a789fb"
          data-page-id="{{ PAGE_ID }}"
          data-page-url="{{ PAGE_URL }}"
          data-page-title="{{ PAGE_TITLE }}"
        ></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script async defer src="https://cusdis.com/js/cusdis.es.js" lang="es"></script>

    <!-- FOOTER -->
    <footer class="bg-dark">
      <div class="footer-top">
        <div class="container">
          <div class="row gy-5">
            <div class="col-lg-3 col-sm-6">
              <a href="#"
                ><img src="images/logomm.svg" width="50" height="50" alt=""
              /></a>
              <div class="line"></div>
              <p>
                Somos una empresa privada de desinfecci贸n y esterilizaci贸n que ha tenido un gran impacto en la industria desde su fundaci贸n en Abril del 2023 en Gu谩rico, Venezuela. 
              </p>
              <div class="social-icons">
                <a href="#"><i class="ri-twitter-fill"></i></a>
                <a href="#"><i class="ri-instagram-fill"></i></a>
                <a href="#"><i class="ri-facebook-fill"></i></a>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <h5 class="mb-0 text-white">SERVICIOS</h5>
              <div class="line"></div>
              <ul>
                <li><a href="#services">Desinfecci贸n de Hospitales y Cl铆nicas</a></li>
                <li><a href="#services">Desinfecci贸n de Universidades y Escuelas</a></li>
                <li><a href="#services">Desinfecci贸n de Laboratorios e Industrias</a></li>
                <li><a href="#services">Desinfecci贸n de Gimnasios y Centros Deportivos</a></li>
                <li><a href="#services">Gesti贸n de Residuos M茅dicos y Peligrosos</a></li>
                <li><a href="#services">Reciclaje de Residuos S贸lidos y L铆quidos</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
              <h5 class="mb-0 text-white">Sobre nosotros</h5>
              <div class="line"></div>
              <ul>
                <li><a href="#services">Servicios</a></li>
                <li><a href="#portfolio">Espacios</a></li>
                <li><a href="#reviews">Rese帽as</a></li>
                <li><a href="#team">Equipo</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
              <h5 class="mb-0 text-white">CONTACTO</h5>
              <div class="line"></div>
              <ul>
                <li>San Juan de los Morros, Gu谩rico, Venezuela</li>
                <li>(+58) 412 - 1075534</li>
                <li>https://mediunerglosmorros.vercel.app/</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="container">
          <div class="row g-4 justify-content-between">
            <div class="col-auto">
              <p class="mb-0">漏 Copyright MEDIUNERG. Todos los derechos reservados.</p>
            </div>
            <div class="col-auto">
              <p class="mb-0">
                Dise帽ado con 
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
